* {
    border: none;
    margin: 0;
    padding: 0;
}

.product-card {
    margin-bottom: 30px;
}

.product-card .card-body {
    padding: 20px;

}
.product-card .card-img-top {
    max-height: 200px;
    object-fit: contain;
}