<div class="left-main">
    <i class="bi bi-person-circle" style="font-size: 70px;"></i>
    <h2>Hello, Admin</h2>
    
    <div class="feat-list">
        <a type="button" href="./main.php">
            <i class="bi bi-house-fill h4"><span class="icon-text"> Home </span></i>
        </a>
        <a type="button" href="./products.php">
            <i class="bi bi-grid-3x3-gap-fill h4"><span class="icon-text"> Procducts </span></i>
        </a>
        <a type="button" href="./orders.php">
            <i class="bi bi-cart-fill h4"><span class="icon-text"> Orders </span></i>
        </a>
    </div>
</div>