*{
    margin: 0
}

.main-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #ECECEC;
}

.left-main{
    grid-column: 1 / 2;
    height: 100vh;
    background-color: #3C3132;
    text-align: center;
    padding-top: 10px;
}

.left-main *{
    color: white;
}

.right-main{
    grid-column: 2 / 3;
    padding-left: 20px;
    height: 100vh;
    overflow: auto;
}

.feat-list{
    margin-top: 50px;
}

.feat-list > *{
    display: block;
    margin-bottom: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.feat-list *:hover{
    color: #bdc5cd;
}

.feat-list a{
    text-decoration: none;
    text-align: start;
    margin-left: 50px;
}

.icon-text{
    font-size:x-large; 
    font-style: normal;
}

.right-main th{
    background-color: #5A4D45;
    color: white;
}

/* ---details page--- */
.ele-box{
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    /* font-size: large; */
    width: 1000px;
}

.tx0{
    margin-top: 25px; 
    height: 40px;
    pointer-events: none;
}

.tx1{
    color: #938d8d;
}



